.main {
  background-color: #f5f5f5;
  padding: 40px 0;
}

.app-icon {
  width: 48px;
  height: auto;
}

.footer {
  background-color: #212529;
  padding-top: 48px;
  padding-bottom: 24px;
  text-align: center;
}

.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  color: #f5f5f5;
  padding: 0;
  margin: 0;
}

.footer__icon {
  width: 128px;
  height: auto;
}

.footer__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.footer__link {
  color: #f5f5f5;
  font-size: 30px;
  text-decoration: none;
  transition: all 0.1s;
  border-bottom: 1px solid transparent;
}

.footer__link:hover {
  color: #f5f5f5;
  border-bottom: 1px solid white;
}

.footer__social-icon-list {
  display: flex;
  flex-direction: row;
  color: #f5f5f5;
  gap: 10px;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 25px;
}

.footer__social-icon {
  cursor: pointer;
  transition: all 0.2s;
}

.footer__social-icon--facebook {
  color: #3b5998;
}

.footer__social-icon--twitter {
  color: #1da1f2;
}

.footer__social-icon--reddit {
  color: #ff4500;
}

.footer__social-icon--linkedin {
  color: #0072b1;
}
