.ads {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  border-radius: 7px;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s;
}

.ads:hover {
  background-color: #343a40;
}

.ads__text {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  color: #f5f5f5;
  margin: 0;
}
